
* {
    background-color: #faf9f7;
    font-family: Arial;
    margin: 0px;
}

body {
    padding: 0px;
}

body.norm{
    padding: 30px;
}

h1 {
    height: 90px;
    width: 100%;
    padding: 0px;
    background-color: #516067;
    padding-inline-start: 15px;
    font-family: Arial;
    font-weight: 1000;
    color: #ffffff;
    font-size: 50px;
    line-height: 90px;
}

h2 {
    width: 100%;
    background-color: transparent;
    font-family: Arial;
    font-weight: 1000;
    color: #516067;
    font-size: 42px;
    text-align: center;
}

h3 {
    width: 100%;
    background-color: transparent;
    font-family: Arial;
    font-weight: 1000;
    color: #516067;
    font-size: 30px;
    text-align: center;
}

h4 {
    width: 100%;
    background-color: transparent;
    font-family: Arial;
    font-weight: 1000;
    color: #516067;
    font-size: 30px;
    padding-inline-start: 15px;
}

table {
    width: 95%;
    height: 50%;
    border: 1px;
    border-collapse: collapse;
    border-style: solid;
    border-color: #000000;
    margin-left: auto;
    margin-right: auto;
}
th {
    width: 90%;
    border: 1px;
    border-style: solid;
    border-color: #000000;
    font-family: Arial;
    font-weight: bold;
    font-size: 24px;
    color: #000000;
}
th.compl {
    width: 5%;
}
td {
    font-family: Arial;
    font-weight: normal;
    font-size: 21px;
    border: 1px solid #000000;
}
ul.nonbullet {
    list-style-type: none;s
}
tr {
    vertical-align: text-top;
}

h5 {
    height: 30px;
    width: 100px;
    font-family: Arial;
    font-weight: 1000;
    color: #516067;
    font-size: 25px;
    text-align: center;
    line-height: 30px;
    border: 1px solid #000000;
    position: fixed;
    right: 15px;
}
h6 {
    width: 100%;
    background-color: transparent;
    font-family: Arial;
    font-weight: 1000;
    color: #516067;
    font-size: 30px;
    position: fixed;
    left: 15px;
    bottom: 40px
}
p {
    position: absolute;
    left: 15px;
    bottom: 15px
}
