
* {
    background-color: #faf9f7;
    font-family: Arial;
    margin: 0px;
}
body {
    padding: 0px;
}
body.norm{
    padding: 30px;
}
h1 {
    height: 90px;
    width: 100%;
    padding: 0px;
    background-color: #516067;
    padding-inline-start: 15px;
    font-family: Arial;
    font-weight: 1000;
    color: #ffffff;
    font-size: 50px;
    line-height: 90px;
}
h2 {
    width: 100%;
    background-color: transparent;
    font-family: Arial;
    font-weight: 1000;
    color: #516067;
    font-size: 42px;
    text-align: center;
}

h3 {
    width: 100%;
    background-color: transparent;
    font-family: Arial;
    font-weight: 1000;
    color: #516067;
    font-size: 30px;
    padding-inline-start: 15px;
}
ul {
    font-family: Arial;
    font-weight: 1000;
    color: #000000;
    font-size: 20px;
}

h4 {
    height: 30px;
    width: 100px;
    background-color: #d1c48b;
    font-family: Arial;
    font-weight: 1000;
    color: #516067;
    font-size: 25px;
    text-align: center;
    line-height: 30px;
    border: 1px none #000000;
    border-radius: 10%;
}